input[type=text] {
  height: 45px;
  line-height: 45px;
  padding: 10px;
  border: 1px solid #000;
  outline: none;
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
  &::placeholder {
    color: #000;
  }
}

.button {
  height: 45px;
  line-height: 45px;
  box-sizing: border-box;
  width: 100%;
  font-size: 20px;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &--primary {
    background-color: #000;
    color: #fff;
  }
  &--secondary {
    background-color: #823696;
    color: #fff;
  }
  &--inverted {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
  }
  &--disabled {
    opacity: 0.8;
    pointer-events: none;
  }
}